// Color Setting Starts

	// Site Background Color
	$_backgroundColor: white; 
	
	// Site Main Color
	$_mainColor: blue;

	// Site Second Color
	$_SecondColor: red;
	
	// Site Main Text Color
	$_mainTextColor: black;

// Color Setting Ends

